html { 
  background: url(https://raw.githubusercontent.com/protoboy5000/FivepointOhNo/master/parchment_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clevel {
	font-style: italic;
}

th,td {
    padding-left: 15px;
    padding-right: 15px;
}